.top-header {
  background-color: #f8b864;
  color: white;
}

.left-info li,
.right-info li {
  list-style: none;
}
.left-info a,
.right-info a {
  text-decoration: none;
  color: white;
}

.home-options {
  position: absolute;
  /* background-color: #f8b864; */
  padding: 0 2em;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  background-color: white;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.7s ease, visibility 0.3s;
}
.home:hover .home-options,
.pages:hover .home-options,
.blog:hover .home-options {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transform: translateY(0);
}
.bottom-header .nav-item > a {
  color: #000;
  transition: color 0.4s ease;
}

.bottom-header .nav-item:hover > a {
  color: #f8b864 !important;
}
.home-options p:hover {
  color: #f8b864 !important;
  cursor: pointer;
}
/* header ends */

/* slider starts */
.change-little {
  width: 27ch; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;
 
  animation: typing 4s steps(25) 1s 1 forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 24ch; }
}
@keyframes blink {
  50% { border-color: transparent; }
}

.carousel-inner{
  height: 300px !important;
}
.carousel-item{
  height: 100%;
}
.carousel-item img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.animate__animated{
  animation-duration:2s !important ;
} 
/* slider ends */

/* promo section starts */

.promo-sec{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

/* promo section ends */
.causes{
  background-color: rgb(242, 242, 242);
}
.rect-1{
  width: 50px;
  height: 8px;
  background-color: #f8b864;
  margin: 0.8em auto;
}
.para{
  color: rgb(85, 85, 85);
  max-width: 500px;
  
}
.donate{
  position: absolute;
  text-decoration: none;
  color: white;
  background-color: #f8b864a1;
  padding: 2px;
  bottom:440px ;
left: 160px;
border-radius: 5px;
}
.rect-2{
  width: 25%;
  height: 14px;
  background-color: #f8b864;
  position: absolute;
  bottom: 60%;
}
.outer-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8b86483;
  position: absolute;
 bottom: 57%;
 left: 20%;
    display: flex;
 align-items: center;
 justify-content: center;
}

.inner-circle{
   background-color: #f8b864;
   z-index: 200;
   width: 35px;
   height: 35px;
   border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
 color: white;
 
}
.read-more{
  color: #999794;
}
.stats p{
  color: #8a8987;
}
.stats i{
  color: #f8b864;
}



/* media queries */
@media(min-width:992px){
  .promo-sec{
  transform: translateY(-100px);
  position: relative;
  z-index: 100;
  background-color: white;

  }
  .card-dotted{
  border: none !important;
  border-right: 1px dashed grey !important;
}
}

@media (min-width: 430px) {
  .left-info {
    display: flex;
    flex-direction: row !important;
  }
}

@media (max-width: 410px) {
  .left-info {
    display: block !important;
  }
}

@media (max-width: 995px) {
  .home-options {
    display: none;
    pointer-events: none;
  }
  
}