.top-header {
  background-color: #f8b864;
  color: white;
}

.left-info li,
.right-info li {
  list-style: none;
}
.left-info a,
.right-info a {
  text-decoration: none;
  color: white;
}

.home-options {
  position: absolute;
  /* background-color: #f8b864; */
  padding: 0 2em;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  background-color: white;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.7s ease, visibility 0.3s;
}
.home:hover .home-options,
.pages:hover .home-options,
.blog:hover .home-options {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transform: translateY(0);
}
.bottom-header .nav-item > a {
  color: #000;
  transition: color 0.4s ease;
}

.bottom-header .nav-item:hover > a {
  color: #f8b864 !important;
}
.home-options p:hover {
  color: #f8b864 !important;
  cursor: pointer;
}
/* header ends */

/* slider starts */
.join-btn,.donate-btn,.read-btn{
  background-color: #f8b864;
  color: white;
  
}

.change-little {
  width: 0; 
  white-space: nowrap;
  overflow: hidden;
    box-sizing: content-box;
  border-right: 2px solid #f5eeee; 
  animation: typing 3s steps(36) forwards; 
}

@media (max-width: 400px) {
  .change-little {
    font-size: 22px;
  }
}

@keyframes typing {
  from { width: 0; }
  to   { width:100%; } 
}


.carousel-inner{
  height: 530px !important;
}
.carousel-item{
  height: 100%;
}
.carousel-item img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.animate__animated{
  animation-duration:2s !important ;
} 
/* slider ends */

/* promo section starts */

.promo-container {
  background-color: #fff; /* background is needed for shadow to be visible */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* shadow */
  border-radius: 12px; /* optional rounded corners */

  max-width: 1000px; /* container width, adjust as needed */
}



/* promo section ends */
.causes{
  background-color: rgb(242, 242, 242);
}
.rect-1{
  width: 50px;
  height: 8px;
  background-color: #f8b864;
  margin: 0.8em auto;
}
.para{
  color: rgb(85, 85, 85);
  max-width: 500px;
  
}
.donate{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: absolute;
   font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #f8b864a1;
 padding:4px 8px; 
 top: 10px;       /* distance from top of .thumb */
  right: 10px;  
border-radius: 5px;
white-space: nowrap;  
}
.rect-2,.rect-22,.rect-23{
  width: 25%;
  height: 14px;
  background-color: #f8b864;
  position: absolute;
bottom: -1px;
}
.rect-22{
    width: 45%;
 
}
.rect-23{
  width: 75%;
}

.outer-circle,.outer-circle22,.outer-circle23{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8b86483;
  position: absolute;
bottom: -17px;
left: 23%;
    display: flex;
 align-items: center;
 justify-content: center;
}
.outer-circle22{
left: 43%;
}
.outer-circle23{
left: 73%;
}

.inner-circle{
   background-color: #f8b864;
   z-index: 200;
   width: 35px;
   height: 35px;
   border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;

 color: white;
 
}
.read-more{
  color: #999794;
}
.stats p{
  color: #8a8987;
  font-size: 12px;
  white-space: nowrap;
}
.stats i{
  color: #f8b864;
}

/* mission sec starts */
.img-cont{
  width: 70px;
  height: 70px;
  border-radius: 50%;
overflow: hidden;
}
.mission-sec{
 padding:7em 0 !important ;
 overflow: hidden;
}
.shape1,.shape2{
width: 400px;
height: 400px;
position: absolute;
 background-color:rgba(248, 184, 100, 0.466);
z-index: 2;

clip-path: ellipse(36% 50% at 50% 50%);
}
.shape1 {
  left: -10%;
  top: -20%;
  transform: rotate(60deg);
}

.shape2 {
  right: -10%;
  bottom: -20%;
  transform: rotate(90deg);
}

/* mission sec ends */

/* campaign sec starts */
.campaign-sec{
  background-image: url('./assets/campaign-sec/featured-bg.jpg');
background-attachment:scroll;
background-repeat: no-repeat;
background-position-x:50%;
background-position-y:50%;
background-size: cover;
}
.featured-btn{
  background-color: #f8b864;
  color: white;
}

.progress-bar{
  height: 10px;
  border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
.progress-fill{
background-color: #f8b864;
width: 35%;
height: 10px;
}
.outer-circle4{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8b86483;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 35%;
}

.img-popup {
  position: absolute;
    display: flex;
  justify-content: center;
  align-items: center;
width: 70px;
  height: 70px;
  background-color: transparent;
    border: 2px solid #ddd;
    border-radius: 50%;
     top: 45%;
  left: 45%;
}
/* campaign sec endss */

/* media queries */
@media(min-width:992px){
  .promo-container{
  transform: translateY(-70px);
  position: relative;
  z-index: 100;
  background-color: white;

  }
  .card-dotted{
  border: none !important;
  border-right: 1px dashed grey !important;
}
}

@media (min-width: 430px) {
  .left-info {
    display: flex;
    flex-direction: row !important;
  }
}

@media (max-width: 410px) {
  .left-info {
    display: block !important;
  }
}

@media (max-width: 995px) {
  .home-options {
    display: none;
    pointer-events: none;
  }
  
}
@media (max-width:575px){
  .donate{

padding: 6px 10px;
  }
}
@media(min-width:768px){
  .campaign-content,.campaign-img{
  width: 50% !important;
}

}
